@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body{
    justify-content: center;
    display: flex;
    font-family: 'Roboto', sans-serif;
    background-color: #ededed;
}
h1{
    color:#558B2F;
    font-family: 'Courier New', Courier, monospace;
}
p a{
    text-decoration: none;
    color:#558B2F;
}

p a:hover{
    color:#9CCC65;
}

div.content {
    display:table;
    margin-top:50px;
    text-align: center;
} 

table {
        max-width:600px;
        background-color:#558B2F;
		border: 1px solid #558B2F;
		border-radius: 5px; 
		box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
		margin-bottom:15px;
    }

    td, .table td {
        text-align:center;
        vertical-align:central;
        height:35px;
    }

    table thead button {
        cursor:pointer;
    }

    table td button {
        width: 40px;
        height: 30px;
        background-color:#ccc;
        border:#ccc;
        border-radius:50px;
        opacity:0.2;
        color:white;
    }
	
    table td button:disabled {
        background-color:#33691E;
        opacity:0.2;
        cursor:default;
    }


    span {
        font-size:1.5em;
        font-weight:bold;
        border:1px solid #ccc;
        border-radius:60px;
        background-color: 	#fafafa;
        color:	#fafafa;
        /*padding:1px 15px;*/
        display:inline-block;
        width:100%;
        height:100%;
    }

        span.O {
            background-color:#2196F3;
            color:#2196F3;
        }
        span.X{
            background-color:#F44336;
            color:#F44336;
        }

label.endGame {
    display:inline-block;
    margin-left:20px;
    font-size:1.8em;
    font-weight:bold;
    color:#111;
    font-family:'Courier New', Courier, monospace;
}

